<div class="container fact mt-4">
    <div class="row">
        <h2 class="text-center mt-4">Dato nutritivo de la semana</h2>
        <h4 class="text-center">-La zarna-</h4>
    </div>
    <div class="row">
        <p class="space text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae consectetur ipsam repellendus? Molestias expedita nesciunt molestiae distinctio? 
            Ducimus mollitia optio error, porro, delectus corporis rerum repellat vel suscipit sequi sapiente?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Explicabo rem iste amet accusamus, earum veritatis dicta architecto dolorum, 
            labore eius molestiae impedit soluta nemo quos cupiditate velit. Voluptate, amet animi.
        </p>
    </div>
</div>
